<launch>
    <arg name="input_topics" default="[/Main/depth/color/points, /Portside/depth/color/points, /Starboard/depth/color/points, /Homing/depth/color/points]" />
    <arg name="output_topic" default="/Super_pointcloud" />
    <arg name="output_frame_id" default="link_1_1" />
  
    <node pkg="pointcloud2_merge" type="pointcloud2_merge"
          name="pointcloud2_merge" output="screen">
      <param name="output_frame_id" value="$(arg output_frame_id)" />
      <param name="input_topics" value="$(arg input_topics)" />
      <remap from="/points_concat" to="$(arg output_topic)" />
    </node>
  </launch>